*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: nato;
    src: url(/fonts/VintageMohai-DemoVersion-Regular.otf);
}
@font-face {
    font-family: food;
    src: url(./fonts/Grayson.ttf);
}


.big-text {
    position: relative; 
    /* Other styles you might have */
}

.hero { 
    height: 80vh;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
   }


::-webkit-scrollbar {
    display: none;
}

/* .spread {
    
    padding: 0 40px;
    background-image: url('/images/image.png'); 
    background-size:45rem;
    
    width: 50%;
    background-repeat: no-repeat;
} */

.features {
    -webkit-box-shadow: 0px 99px 135px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 99px 135px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 99px 135px -22px rgba(0,0,0,0.75);

    background-image: url('/images/pattern_bg_pink.png');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    position: relative; /
}

.pink-shadow {
    text-shadow: 12px 8px #FF7872;
}
.dark-pink-shadow {
    text-shadow: 12px 8px #FF428A;
}

.inter {
    /* inter-font-class-cause-tailwind-aint-working */
    font-family: "Inter", sans-serif;
}


.lato {
    /* inter-font-class-cause-tailwind-aint-working */
    font-family: "lato", sans-serif;
}
.playfair {
    font-family: "Playfair Display", serif;
}


.order-btn {
    background-color: #FCCB24;
    box-shadow: 10px 8px #FF7872;
}
