*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: nato;
    src: url(/fonts/VintageMohai-DemoVersion-Regular.otf);
}
@font-face {
    font-family: food;
    src: url(./fonts/Grayson.ttf);
}


.hero { 
    height: 80vh;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
   }