@media (max-width: 768px) {

    #product-card {
        margin: 0.5rem;
        width: 42vw;
        height: 45vw;
        padding-top: 1rem;
    }
    #navbar {
        padding: 1rem 2rem 0 1rem;
        justify-content: center;

    }
    #hero_Sec {
        background-color: hero_Sec;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30rem;
    }

    #hero-txt {
        font-size: 12vw;
        position: relative;
        top: 12rem;
    }

    #hero_img{
        top: 5rem
    }
    h2 {
        font-size: 10rem;
        text-align: center;
    }
    .treat {
        bottom: 14rem;
        font-size: 24vw;
        text-align: center;
    }

    .features h2{
        margin-bottom: 2rem;
    }

    .features {
        height: 30rem;
    }

    #navItem{
        display: none;
    }

    #aboutus > div {
        height:32rem;
    }

    #aboutus p {
        font-size: small;
        line-height: 1.2rem;
    }

    #regular_Waffles > div {
        padding-top: 1rem;
        height:48rem;
    }

    .price-list {
        flex-direction: column;
    }   

    .product-List > section{
        padding: 1rem;
        margin-bottom: 5rem;
    }

    #product-card {
        margin: 0.5rem;
        width: 42vw;
        height: 45vw;
        padding-top: 1rem;
    }

    #product-card > div{
        padding: 0;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    #product-card img{
        position:static;
        width: 35%;
        height: auto;
    }

    #product-description {
        display: none;
    }
    .aux-text{
        display: nonep;
    }

    .pink-shadow {
        text-shadow: 1.2vw 1vw #ff7872;
    }

    .dark-pink-shadow {
    text-shadow: 1.2vw 1vw #ff428a;
    }

    .dibbe{
        /* height: 40vw; */
        width: 76vw;
    }
}



@media (min-width: 768px) and (max-width: 1024px) {
    #navbar{
        justify-content: center;
    }

    #hero-txt {
        text-align: center;
        font-size: 10vw;
        position: relative;
        top: 12rem;
        left: 25vw;
    }
    #hero_Sec {
        background-color: hero_Sec;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40rem;
    }

    .treat {
        bottom: 20rem;
        font-size: 180px;
    }
    .features h2{
        margin-bottom: 2rem;
    }
    .features {
        min-height: 40rem;
    }
    #navItem{
        display: none;
    }

    #aboutus > div {
        height:45rem;
    }

    #founder-img {
        bottom: 0;
    }

    #regular_Waffles > div {
        padding-top: 1rem;
        height:35rem;
    }
    .price-list {
        flex-direction: column;
    }

    .product-List div{
        margin-bottom: 5rem;
    }
    
}
