<div class="lg:min-h-screen flex flex-col justify-between pt-10 bg-[#FF7872] ">
    <div class="px-4 md:px-10">
        <h1 class="text-white text-4xl md:text-5xl lg:text-[100px] font-extrabold">
            About Us
        </h1>
        <div class="flex justify-end mt-5">
            <p class="inter font-bold text-lg text-white text-left w-96"> 
                The Belgian Waffle Co. began in 2015 when Shrey,<br> 
                inspired by international food trends,<br> 
                brought the unique,delectable waffle concept to India.<br> 
                our mission is built on excellence, simplicity, and affordability.
            </p>
            <p class="inter font-bold text-lg text-white text-left w-96 ml-10"> 
                With over 450 stores in 160+ cities, <br>
                we've received accolades like the <br>
                "Franchisor of the Year" in the Dessert Category <br>
                and the "Asia Food Innovation Awards."<br> 
                Our product line now includes Waffle Crisps, Spreads,<br> 
                and Pancake and Waffle Premixes
            </p>
        </div>
    </div>

    
    <div id="founder-imgs" class="relative flex-grow flex justify-end items-end">
    
        <img class="w-full absolute bottom-0 z-10" src="../images/blured images/shape_yellow.png" alt="Yellow Shape">
        <img class="w-3/4 md:w-2/3 lg:w-1/2 absolute bottom-0 left-0 z-0" src="../images/founders-1.png" alt="Founders">
    </div>
</div>
