<div class="features h-[43rem] bg-[#FCCB24] px-10 ">
    <h2 class=" text-[#FF428A] font-black text-[132px]">
        CRISPY
    </h2>
    <h2 class=" text-[#FF7872] font-black text-[132px] text-center">
        EGGLESS
    </h2>
    <h2 class=" text-[#FF428A] font-black text-[132px] text-end">
        ON THE GO!
    </h2>
    <div class="flex justify-center items-center">
        <h2 class="inter-font-class-cause-tailwind-aint-working big-text bottom-36 text-white font-bold text-[300px] text-end z-10">
            TREAT
        </h2>
    </div>
    
    
</div>