<div class="lg:min-h-screen  features sm:h[20rem] lg:h-[43rem] bg-[#FCCB24] bg-pattern">
    <div class="px-10 relative">
        <h2 class="pink-shadow inter text-[#FF428A] font-black   text-[8vw] sm:text-center lg:text-start">
            CRISPY
        </h2>
        <h2 class="dark-pink-shadow text-[#FF7872] font-black  text-[8vw] text-center ">
            EGGLESS
        </h2>
        <h2 class="pink-shadow inter text-[#FF428A] font-black  text-[8vw] sm:text-center lg:text-end">
            ON THE GO!
        </h2>


        <div class="flex justify-center items-center ">
            <h2  class="treat inter big-text bottom-[2rem] text-white font-black lg:text-[300px] text-end z-10 ">
                TREAT
            </h2>
        </div>
    </div>
</div>
