    <!-- Footer -->
    <footer class="bg-[#FCCB24] relative text-white py-8">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap justify-between items-center">
                <!-- Footer Logo -->
                <div class="w-full sm:w-auto mb-6 sm:mb-0">
                    <img class="w-[7vw] absolute top-5 left-5" src="../images/logo.png" alt="">
                </div>

                <!-- Footer Links -->
                <div class="w-full sm:w-auto mb-6 sm:mb-0">
                    <ul class="flex left-[40%] absolute flex-wrap space-x-4">
                        <li><a href="#" class="hover:underline">Home</a></li>
                        <li><a href="#" class="hover:underline">About Us</a></li>
                        <li><a href="#" class="hover:underline">Services</a></li>
                        <li><a href="#" class="hover:underline">Contact</a></li>
                    </ul>
                </div>

                <!-- Footer Social Icons -->
                <div class="w-full sm:w-auto">
                    <ul class="flex space-x-4">
                        <li><a href="#" class="hover:text-gray-400"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="hover:text-gray-400"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="hover:text-gray-400"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" class="hover:text-gray-400"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="mt-8 text-center text-white">
                &copy; 2024 The Belgian Waffle Co. All rights reserved.
            </div>
        </div>
    </footer>