<div id="hero_Sec" class="inter w-full overflow-hidden hero lg:pl-10 h-[45rem] pt-36 bg-gradient-to-br from-[#E8B530] to-[#ED5265]">
  
  <div id="hero_img" class="w-full flex justify-center absolute md:top-[8rem] lg:w-[50vw] lg:top-[6rem] lg:-right-[-1vw] md:right-10">
    <img class="w-[90%] md:w-1/2 lg:w-[55rem] z-0" src="../images/Waffles-hero.png">
  </div>


  <div id="hero-txt" class="w-full md:w-2/5 md:text-[7vw] h-full flex-col relative z-10 flex items-center space-y-4">
    <h1 class="flex uppercase tracking-wider text-white md:ml-32 leading-[8vw] font-black text-left">
      Experience
    </h1>

    <h1 class="flex items-center uppercase tracking-wider text-white md:-ml-[4vw] leading-[8vw] font-black text-left">
      <span>w</span>
      <span class="w-[10vw] bg-transparent img-width">
        <img class="bg-cover" src="./images/blured images/aaaaa waffle.png" alt="">
      </span>
      ffle
    </h1>

    <h1 class="flex uppercase tracking-wider text-white md:ml-32 leading-[8vw] font-black text-left">
      perfecti      
      <span class="w-[10vw] bg-transparent img-width">
        <img class="bg-cover" src="../images/blured images/oreo1.png">
      </span>
      n
    </h1>
  </div>

</div>
