<div class=" overflow-hidden hero pl-10 h-[41rem] pt-36 bg-gradient-to-br from-[#E8B530] to-[#ED5265]">
    <div class="w-2/5 h-full flex-col relative z-10 flex items-center justify-center ">
        <h1 class="text-[8vw] Ex overflow-hidden  flex uppercase tracking-wider text-white ml-32 leading-[8.5vw]  font-['gilroy'] font-black text-left h-full">Experience</h1>
        <h1 class="text-[8vw] Ea flex items-center absolute top-[17%] uppercase tracking-wider text-white -ml-[4vw] -mt-[15vw] leading-[8.5vw]  font-['gilroy'] font-black text-left h-full  "><span>w</span> <span class="w-[8vw] h-[15vh] bg-transparent img-width" > <img class="w-full h-full bg-cover" src="./images/blured images/aaaaa waffle.png" alt="">   </span> ffle</h1>
        <h1 class="text-[8vw] Eb flex uppercase tracking-wider text-white ml-32 -mt-[10vw] leading-[8.5vw]  font-['gilroy'] font-black text-left h-full">perfection</h1>
    </div>
  
    <div class="h-full w-full">
      <img class="ml-32 w-[50rem]" src="../images/Waffles-hero.png">
    </div>
  
    <img class="absolute oreo w-20 top-[59.9%] right-[53.7%] z-10"  src="../images/blured images/oreo1.png">
  
  </div>