<div class="relative pl-10 lg:h-[41rem] pt-40  overflow-hidden bg-[blueviolet]">
    <div class="relative bottom-36">
        <p class="text-[white] pt-10 text-4xl md:text-5xl lg:text-[100px] font-extrabold leading-normal">
            A Match Made in Dessert Heaven
        </p>
        <p class="text-white text-xl md:text-2xl lg:text-3xl font-bold mb-5 w-full md:w-[30rem]">
            All New Cheesecake Waffle
        </p>
    </div>

    <div id="price-list1" class="price-list relative -top-40 flex w-[85%] md:w-[38vw] bg-[#FCCB24] p-4 rounded-md">
        <ul class="text-black font-medium tracking-widest w-full md:w-[60%] mr-2">
            <li class="flex justify-between w-[16rem] pb-2">- Nutella cheease cake waffle</li>
            <li class="flex justify-between w-[16rem] pb-2">- Mango cheease cake waffle</li>
            <li class="flex justify-between w-[16rem] pb-2">- Strawberry cheease cake waffle</li>
            <li class="flex justify-between w-[16rem] pb-2">- Lotus bicoff cheease cake waffle</li>
        </ul>

        <ul class="text-black font-medium tracking-widest w-full md:w-[60%]">
            <li class="flex justify-between w-[16rem] pb-2">- Blueberry  cheease cake waffle</li>
        </ul>
    </div>

    <div class="relative flex-grow flex items-end justify-start">
        <img class="w-[80vw] md:w-1/2 lg:w-2/4 z-0 absolute sm:bottom-[-3rem]  md:bottom-[-3rem] lg:bottom-[-8rem] right-0" src="../images/belgium1.png" alt="Waffle in hand">
    </div>
</div>
