
    <div class="w-full bg-transparent flex items-center justify-between px-5 py-1 top-0 mb-8 fixed">
        <div class="logo ">
            <img class="w-[7vw]" src="/images/logo.png" alt="">
        </div>
        <nav>
            <ul class="flex items-center gap-5 text-white font-semibold ">
                <li> Home </li>
                <li>  Our Product's</li>
                <li> Gallery</li>
                <li> Franchise</li>
                <li> Contact us</li>

            </ul>
        </nav>
  
    </div>
