<div class="pt-5 h-[43rem] bg-[#FF428A]">
    <div class="px-10">
        <h2 class=" inter text-[80px] min-h-[1rem] text-white font-extrabold inter leading-normal">
            Make Waffles Anywhere, Anytime!
        </h2>
        <p class="w-[30rem] text-[white] text-3xl font-bold inter mb-2">
            Whip up waffles like a pro with our 
            <span class="bg-[#312F30] px-2 ">easy-to-use</span> 
            premix.
        </p>
        <div class="flex">
            <p class="text-white font-normal text-sm">
                100% Vegetarian <i class="fa-solid fa-carrot "></i>
                No Preservatives <br>
            </p>
            
        </div>
        <div id="product-List"></div>
    </div>
</div>
