<section class="mt-14 flex lg:px-10 lg:py-5 flex-wrap">
    
    <div id="product-card" class="h-[15rem] w-[23rem] bg-[#e1ddd1] rounded-lg md:m-5 ">
        <div class="flex justify-between">
            <img class="w-[10rem] relative bottom-[4rem] left-[2rem]" src="../images/premix_1.png">
            
            <div class="max-w[50%] p-3">
                <p class="lato text-[#5c5c5c] mb-2  font-extrabold">
                    Orignal Pancake & <br> waffle mix
                </p>
                
                <p id="product-description" class="text-[#818181] font-semibold text-sm pb-8">
                    Wake Up Right <br>with Classic Delight!
                </p>
                <a href="https://amzn.in/d/0dhHMvOY"  target="_blank"   class="order-btn transition-all ease-in-out duration-500 w-28 px-0.5 py-1 flex items-center justify-center text-[#434343] rounded-sm font-bold">Order now</a>
            </div>
        </div>
        
    </div>
    

    <div id="product-card" class="h-[15rem] w-[23rem] bg-[#e1ddd1] rounded-lg m-5 ">
        <div class="flex justify-between">

            <img class="w-[10rem] relative bottom-[4rem] left-[2rem]" src="../images/premix_2.png">
            
            <div class="max-w[50%] p-3">
                <p class="lato text-[#5c5c5c] mb-2  font-extrabold">
                    Choco Oats Pancake<br> & Waffle Mix
                </p>
                
                <p id="product-description" class="text-[#818181] font-semibold text-sm pb-8">
                    Midnight Snack Attack?<br> Chocalate to the Rescue!
                </p>
                <a href="https://amzn.in/d/0dhHMvOY" target="_blank" class="order-btn transition-all ease-in-out duration-500 w-28 px-0.5 py-1 flex items-center justify-center text-[#434343] rounded-sm font-bold">Order now</a>
            </div>
        </div>
    </div>

</div>