<section class="mt-14 flex px-10 py-5">
    
    <div class="h-[15rem] w-[23rem] bg-[#e1ddd1] rounded-lg m-5 ">
        <div class="flex justify-between">
            <img class="w-[10rem] relative bottom-[4rem] left-[2rem]" src="../images/premix_1.png">
            
            <div class="max-w[50%] p-3">
                <p class="lato text-[#5c5c5c] mb-2 playfair  font-bold">
                    Orignal Pancake & <br> waffle mix
                </p>
                
                <p class="text-[#818181] font-semibold text-sm pb-8">
                    Wake Up Right <br>with Classic Delight!
                </p>
                <a href="https://amzn.in/d/0dhHMvOY"  target="_blank"   class="w-28 rounded-[20px] px-0.5 py-1 flex items-center justify-center border border-[#5c5c5c] text-[#5c5c5c]">Order now</a>
            </div>
        </div>
        
    </div>
    

    <div class="h-[15rem] w-[23rem] bg-[#e1ddd1] rounded-lg m-5 ">
        <div class="flex justify-between">

            <img class="w-[10rem] relative bottom-[4rem] left-[2rem]" src="../images/premix_2.png">
            
            <div class="max-w[50%] p-3">
                <p class="lato text-[#5c5c5c] mb-2 playfair  font-bold">
                    Choco Oats Pancake<br> & Waffle Mix
                </p>
                
                <p class="text-[#818181] font-semibold text-sm pb-8">
                    Midnight Snack Attack?<br> Chocalate to the Rescue!
                </p>
                <a href="https://amzn.in/d/0dhHMvOY" target="_blank" class="w-28 rounded-[20px] px-0.5 py-1 flex items-center justify-center border border-[#5c5c5c] text-[#5c5c5c]">Order now</a>
            </div>
        </div>
    </div>

</div>