<div class="h-[45rem] bg-[#FCCB24] flex flex-col justify-between">
    <div class="px-10 pt-5">
        <h2 class="pink-shadow inter text-[100px] min-h-[1rem] text-white font-extrabold inter leading-normal">
            Psst... We've Got Regular Waffles Too!
        </h2>
    
        <p class="w-[30rem] text-[white] text-3xl font-bold inter mb-5">
            Classics for your cravings, always on the menu.
        </p>
    
        <p class="w-[60%] text-[white] font-semibold inter tracking-widest">        
        </p>
    </div>
    <img class="w-full mt-auto" src="../images/blured images/shape_brightpink.png">
</div>
