<div class="h-[50rem] bg-[#FCCB24] flex flex-col justify-between">
    <div class="px-10 pt-5">
        <h2 class="pink-shadow inter text-[100px] min-h-[1rem] text-white font-extrabold inter leading-normal">
            Psst... We've Got Regular Waffles Too!
        </h2>
    
        <p class="w-[30rem] text-[white] text-3xl font-bold inter mb-5">
            Classics for your cravings, always on the menu.
        </p>
    
        <p class="w-[60%] tracking-widest">    
            <ul class="text-[white] font-light inter ">
                <li class="flex justify-between w-[16rem] pb-2">Belgian Chocolate Milk<i>₹155</i> </li>
                <li class="flex justify-between w-[16rem] pb-2">Kiki & Oreo Cream<i>₹155</i> </li>
                <li class="flex justify-between w-[16rem] pb-2">Naked Nutella<i>₹182</i> </li>
                <li class="flex justify-between w-[16rem] pb-2">Almond Brownie <i>₹182</i> </li>
            </ul>    
        </p>
    </div>
    <img class="w-[35rem] z-10 relative bottom-[17rem] left-[60%]" src="../images/waffle_in_hand.png" >
    <img class="w-full relative bottom-[24.8rem] z-20" src="../images/blured images/shape_brightpink.png">
</div>
