<div class="w-full h-[110vh] bg-[#FCCB24] relative">
    <h1 class="text-center text-[4vw]">Best Food Franchise In India</h1>
    <h2 class="text-center text-[4vw]">Our Story</h2>
<div class="flex gap-5">
    <p class="text-left text-[1.35vw]  w-[50%] pl-20">A burning passion for quality, consistency, novelty and adding value in the QSR space is the reason that our food franchise, The Belgian Waffle Co., came to being.

        Owned and operated by Bloombay Enterprises Pvt. Ltd., The Belgian Waffle Co. was an idea born out of passion and with a mission to spread taste and delight. Founded in 2015, our story unfolded when Shrey, while working internationally, started discovering the various interesting food concepts which were available globally. The concept of freshly baked waffles being offered by an on-the-go waffle restaurant in India particularly attracted him.
        
        He saw tremendous potential to bring the product to India in a big way, customized in an easy to eat, entirely vegetarian and affordable format which led to the birth of The Belgian Waffle Co.
        
        The Belgian Waffle Co. franchise is one of the first waffle specialty stations in India that offers a unique, on-the-go waffle sandwich created fresh at our waffle stations with our specially formulated egg-less batter and premium fillings.</p>
        <p class="text-right text-[1.35vw]  w-[50%] pr-20">A burning passion for quality, consistency, novelty and adding value in the QSR space is the reason that our food franchise, The Belgian Waffle Co., came to being.

            Owned and operated by Bloombay Enterprises Pvt. Ltd., The Belgian Waffle Co. was an idea born out of passion and with a mission to spread taste and delight. Founded in 2015, our story unfolded when Shrey, while working internationally, started discovering the various interesting food concepts which were available globally. The concept of freshly baked waffles being offered by an on-the-go waffle restaurant in India particularly attracted him.
            
            He saw tremendous potential to bring the product to India in a big way, customized in an easy to eat, entirely vegetarian and affordable format which led to the birth of The Belgian Waffle Co.
            
            The Belgian Waffle Co. franchise is one of the first waffle specialty stations in India that offers a unique, on-the-go waffle sandwich created fresh at our waffle stations with our specially formulated egg-less batter and premium fillings.</p>
</div>
<button class="px-6 py-3 bg-black text-white rounded-xl absolute bottom-5 left-1/2  -translate-x-1/2 ">Know More</button>
</div>