<div class= "h-[43rem] bg-[#FF428A]">
    <div class="px-10">
        <div class="">
            <h2 class="inter tracking-widest relative z-10 spacing text-[8vw] min-h-[1rem] text-white font-extrabold inter leading-normal">
                Spreads
            </h2>
            <img class="w-[40%] relative right- bottom-20" src="../images/image.png">
        </div>
        <p class=" text-[white] text-3xl font-bold inter mb-2">
        </p>
        <div class="flex">
            <p class="text-white font-normal text-sm">
            </p>
        </div>
        <div id="product-List"></div>
    </div>
        
</div>
