<div class="pt-5 lg:h-[43rem] bg-[#FF428A]">
    <div class="px-10">
        <div>
            <h2 class=" tracking-widest relative z-10 inter min-h-[1rem] text-4xl md:text-5xl lg:text-[80px] text-white font-extrabold inter leading-normal">
                Spreads
            </h2>
            <img class="z-0 w-[40%] relative right- bottom-20" src="../images/image.png">
        </div>
        <p class="text-white text-xl md:text-2xl lg:text-3xl font-bold mb-5 w-full md:w-[30rem]">
            Whip up waffles like a pro with our 
            <span class="bg-[#312F30] px-2 ">easy-to-use</span> 
            premix.
        </p>
        <div id="product-List"></div>
    </div>
</div>
