<div class="pt-5 pb-1 lg:h-[44rem] bg-[#FF428A]">

<div class="px-10">
        <div class="">
            <h2 class=" tracking-widest relative z-10 inter min-h-[1rem] text-4xl md:text-5xl lg:text-[80px] text-white font-extrabold inter leading-normal">
                Spreads
            </h2>
        </div>

        <p class="text-white text-xl md:text-2xl lg:text-3xl font-bold w-full md:w-[30rem]">
            Whip up waffles like a pro with our 
            <span class="bg-[#312F30] px-2 ">easy-to-use</span> 
            premix.
        </p>

        <div id="product-List-spread"></div>
        <p class="text-white text-sm md:text-sm lg:text-lg font-semibold mb-5 w-full">
            A delicious, creamy smooth spread packed with flavour from The Belgian Waffle Co. <br>
            Pair it with your favourites or to magically transform something into your new favourite. <br>
            Spread on waffles, pancakes, toast or rotis. Dip your cookies or biscuits in, <br>
            or just spoon it straight into your mouth for pure unadulterated bliss!<br>
        </p>
    </div>
</div>
