<div class="lg:min-h-screen md:pl-10 pt-5 h-[43rem] flex justify-between bg-[#FCCB24]">
    <div class="px-4 md:px-10 pt-5">
        <h2 class="pink-shadow text-white text-4xl md:text-5xl lg:text-[100px] font-extrabold leading-normal">
            Waffle Cakes
        </h2>
        <p class=" text-white text-xl md:text-2xl lg:text-3xl font-bold mb-5 w-full md:w-[30rem]">
            Elevate your dessert game with our
            innovative twist on two classics.
        </p>
            
        <p class="aux-text text-white font-semibold inter tracking-widest">
            Step into the future of dessert with our innovative Waffle Cakes.<br>
            nostalgia of traditional flavors with a modern twist,<br>
            each bite is a journey of texture and taste.<br>
        </p>
    </div>
    <!-- <img class="ml-6" src="../images/to blur or cut/DBC cut.png"> -->
</div>
