<div class="px-10 pt-5 h-[43rem] bg-[#FCCB24]">
    <h2 class="inter text-[132px] font-white min-h-[1rem] text-white font-extrabold inter">
        Waffle Cakes
    </h2>
    <p class="w-[30rem] text-white text-3xl font-bold inter mb-5">Elevate your dessert game with our
        innovative twist on two classics.</p>

    <p class="w-[60%] text-white font-semibold inter tracking-widest">
        Step into the future of dessert with our innovative Waffle Cakes.<br>
        nostalgia of traditional flavors with a modern twist,<br>
        each bite is a journey of texture and taste.<br>
    </p>
</div>
